.typing-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 60px);
  background-color: #252849;
  border-radius: 20px;

  .leading {
    display: flex;
  }
  .messages-input {
    background-color: #252849;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    width: 100%;
    margin: 0 20px;
  }
  .trailing {
    display: flex;
  }
  .message-input-icon {
    width: 20px;
    height: 20px;
    fill: #4e4b79;
    margin: 0 5px;
    cursor: pointer;
    &:hover {
      fill: #a19dd8;
    }
    &:first-of-type {
      margin-left: 0;
    }
  }
}
